body {
  background-color: #feb321;
  font-family: "Comfortaa", cursive;
}

h1 {
  color: white;
  font-family: "Kaushan Script", cursive;
  font-size: 50px;
}
@media screen and (max-width: 500px) {
  h1 {
    display: flex;
    justify-content: center;
  }
}
section {
  display: flex;
  flex-wrap: wrap;
}

footer {
  margin: 50px 0;
  justify-content: center;
  display: grid;
  color: white;
}

@media screen and (max-width: 500px) {
  footer {
    font-size: 0.7em;
  }
}

/* add media too landing page img */
@media screen and (max-width: 500px) {
  #landing-page-img {
    width: 300px;
    height: 300px;
  }
}

#top-and-left {
  color: white;
}

#top-and-left,
#bottom-and-right {
  width: 900px;
  display: grid;
  place-items: center;
  justify-content: center;
  flex: 1 1 300px; /*allows content to fill up the space up until the min hits 300px, then it will wrap over. Choose 300px for cellphone view*/
}

@media screen and (min-width: 450px) {
  #bottom-and-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}
.lyrics-container {
  background-color: black;
  color: #feb321;
  margin-left: 25px;
  margin-bottom: 25px;
  padding: 20px;
  border-radius: 15px;
  font-family: inherit;
  height: fit-content;
  width: 90%;
  overflow-x: scroll;
}

.lyrics-container::-webkit-scrollbar {
  width: 25px;
}

.lyrics-container::-webkit-scrollbar-thumb {
  background-color: #feb321;
  outline: 1px solid black;
  border-radius: inherit;
}

@media screen and (max-width: 500px) {
  .lyrics-container {
    font-size: 0.7em;
  }
}

.option-button {
  background-color: #fed79c;
  color: black;
  display: block;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  width: 200px;
  font-family: inherit;
  transition: all 150ms ease-in-out;
}

.option-button:hover {
  background-color: black;
  color: #feb321;
}

.play-button {
  background-color: black;
  color: #feb321;
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  border-radius: 25px;
  padding: 10px 30px;
  width: 150px;
  font-family: inherit;
  transition: all 100ms ease;
}

.play-button:hover {
  border: 2px solid #fed79c;
  font-size: large;
}

.game-description {
  color: white;
  border: 1px solid white;
  padding: 20px;
  line-height: 30px;
  border-radius: 15px;
  text-align: center;
}

.title-in-description,
.question-in-description {
  font-weight: bold;
}

.option-selected-content {
  font-size: 1.5em;
  padding: 1.5em;
  width: fit-content;
  background-color: #fed79c;
  color: black;
  font-style: italic;
  border: 2px solid white;
  border-radius: 15px;
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
}

.stage {
  display: flex;
  height: 330px;
  width: 100%;
}

#bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

.show-score {
  background-color: #fed79c;
  color: black;
  width: 50px;
  text-align: center;
  justify-self: end;
  position: absolute;
  left: 90%;
}

@media screen and (max-width: 600px) {
  .show-score {
    position: absolute;
    top: 5px;
    left: 90%;
  }
}

.correct-answer-response,
.wrong-answer-response {
  padding: 10px;
  display: inherit;
  place-items: inherit;
  text-align: center;
}
.next-round-and-game-button {
  background-color: #feb321;
  color: white;
  border: 2px solid white;
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin-top: 20px;
  border-radius: 25px;
  padding: 10px 30px;
  width: 200px;
  font-family: inherit;
  transition: all 100ms ease;
}

.next-round-and-game-button:hover {
  border: 2px solid #feb321;
  background-color: black;
  color: #feb321;
}

.lose-final-score,
.win-final-score {
  background-color: #fed79c;
  color: black;
  font-size: 2em;
  display: inherit;
  place-items: inherit;
  margin: 30px 0;
}

.win-final-score {
  transform: scale(2);
}

.lose-final-score {
  padding: 25px;
}

.only,
.win-response,
.number-of-matches-lose {
  color: white;
  display: inherit;
  text-align: center;
  padding: 10px;
}

.win-response {
  font-size: 70px;
}
.only {
  font-size: 1em;
}
.correct-img,
.wrong-img,
.win-gif,
.lose-gif {
  width: 480;
  height: 360;
  border: none;
}

#githubLink,
#LinkedIn {
  text-decoration: none;
  color: white;
}

#MusixMatchLink {
  text-align: center;
}
#Musixmatch {
  text-decoration: none;
  color: white;
}
