body {
  background-color: #feb321;
}

h1 {
  color: white;
}
section {
  display: flex;
  flex-direction: row;
}

footer {
  color: white;
}

#top-and-left {
  width: 900px;
}

#bottom-and-right {
  width: 900px;
}
.lyrics-container {
  background-color: black;
  color: #feb321;
  width: 900px;
}

#optionButton {
  background-color: #fed79c;
  color: black;
  display: block;
}

#optionButton:hover {
  background-color: black;
  color: #feb321;
}

.playButton {
  background-color: black;
  color: #feb321;
  display: block;
  margin-top: 10px;
}

.playButton:hover {
  border: 2px solid #fed79c;
  font-size: large;
}

.gameDescription {
  color: white;
  border: 1px solid white;
}

.optionSelectedContent {
  transform: scale(2);
  background-color: #fed79c;
  color: black;
  font-style: italic;
  border: 2px solid white;
  -moz-animation: bounce 0.4s linear;
  -webkit-animation: bounce 0.4s linear;
}
