body {
  background-color: #feb321;
}

h1 {
  color: white;
}
@media screen and (max-width: 500px) {
  h1 {
    display: flex;
    justify-content: center;
  }
}
section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* flex: 0 1 150px; */
}
@media screen and (max-width: 500px) {
  .section {
    display: block;
  }
}
footer {
  margin: 50px 0;
  justify-content: center;
  display: grid;
  color: white;
}

#top-and-left {
  width: 900px;
  color: white;
  display: grid;
  place-items: center;
}

#bottom-and-right {
  width: 900px;
  display: grid;
  place-items: center;
}

.lyrics-container {
  background-color: black;
  color: #feb321;
  width: 75%;
}

#optionButton {
  background-color: #fed79c;
  color: black;
  display: block;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  width: 200px;
  transition: all 150ms ease-in-out;
}

#optionButton:hover {
  background-color: black;
  color: #feb321;
}

.playButton {
  background-color: black;
  color: #feb321;
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  border-radius: 25px;
  padding: 10px 30px;
  width: 150px;
  transition: all 100ms ease;
}

.playButton:hover {
  border: 2px solid #fed79c;
  font-size: large;
}

.gameDescription {
  color: white;
  border: 1px solid white;
  padding: 10px;
  line-height: 30px;
}

.optionSelectedContent {
  transform: scale(2);
  background-color: #fed79c;
  color: black;
  font-style: italic;
  border: 2px solid white;
  /* -moz-animation: bounce 0.4s linear;
  -webkit-animation: bounce 0.4s linear; */
}

.showScore {
  background-color: #fed79c;
  color: black;
  width: 50em;
}

.winFinalScore {
  background-color: #fed79c;
  color: black;
  font-size: larger;
}

.winResponse {
  font-size: large;
  color: white;
}

.loseGif {
  width: 480;
  height: 360;
  border: none;
}

.only {
  font-size: medium;
}

.loseFinalScore {
  background-color: #fed79c;
  color: black;
  font-size: larger;
}
